aiobotocore
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
altair
appnope
asttokens
async-timeout
attrs
backcall
beautifulsoup4
bleach
blinker
boto3
botocore
cachetools
certifi
charset-normalizer
click
confluent-kafka
decorator
defusedxml
docopt
executing
Faker
fastjsonschema
frozenlist
fsspec
gitdb
GitPython
idna
importlib_metadata
ipython
jedi
Jinja2
jmespath
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kafka-python
MarkupSafe
matplotlib-inline
mistune
multidict
names
narwhals
nbclient
nbconvert
nbformat
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
pipreqs
platformdirs
plotly
prompt_toolkit
propcache
protobuf
ptyprocess
pure_eval
py4j
pyarrow
pydeck
Pygments
pyspark==3.4.0
python-dateutil
python-dotenv
pytz
pyzmq
referencing
requests
rpds-py
s3fs
s3transfer
six
smmap
soupsieve
stack-data
streamlit
tenacity
tinycss2
toml
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
webencodings
wrapt
yarg
yarl
zipp
