altair
attrs
blinker
boto3
botocore
cachetools
certifi
charset-normalizer
click
confluent-kafka
docopt
Faker
gitdb
GitPython
idna
Jinja2
jmespath
jsonschema
jsonschema-specifications
MarkupSafe
names
narwhals
numpy
packaging
pandas
pillow
pipreqs
plotly
protobuf
py4j
pyarrow
pydeck
pyspark
python-dateutil
python-dotenv
pytz
referencing
requests
rpds-py
s3transfer
six
smmap
streamlit
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
yarg